.card {
  max-width: 420px;
  height: 456px;
  padding: 33px 36px 60px;

  .content {
    display: flex;
    flex-direction: column;
    width: 348px;

    .cardTitle {
      align-self: center;
      margin-bottom: 50px;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .description {
        margin-top: 19px;
        margin-bottom: 41px;
        color: var(--color-light-900);
      }

      .bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
      }

      .logIn {
        display: flex;
        justify-content: center;

        font-size: 16px;
        font-weight: 700;
        color: #8c61ff;
        text-decoration: underline;
      }
    }
  }
}
