.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--color-dark-100);
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 200px;
  padding: 7px 12px;

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  transition: all 0.2s ease 0.1s;

  &.disabled {
    opacity: 0.3;
    border-color: var(--color-dark-300);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-dark-100);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &[data-placeholder] {
    // color: var(--color-light-100);
  }

  &[data-state='open'] {
    svg {
      transform: rotate(180deg);
    }
  }
}

.paginationTrigger {
  min-width: 50px;
  padding: 0 6px;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

.icon {
  display: flex;
  padding: 2px;
  color: var(--color-light-100);
}

.content {
  overflow: hidden;
  display: flex;

  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
}

.item {
  cursor: pointer;
  user-select: none;
  padding: 6px 12px;

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-dark-700);
  }

  &[data-highlighted] {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }
}

.paginationContent {
  .item {
    padding: 0 6px;
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
  }
}
