.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  // font-size: var(--font-size-m);
  // font-weight: var(--font-weight-regular);
  // line-height: var(--line-height-m);
  color: var(--color-dark-100);
}

.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  min-width: 20px;
  padding: 0 6px;

  //padding: 6px 0;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  transition: all 0.2s ease 0.1s;

  &.disabled {
    opacity: 0.3;
    border-color: var(--color-dark-300);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-dark-100);
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-info-700);
  }

  &[data-placeholder] {
    //color: var(--color-light-100);
  }

  &[data-state='open'] {
    svg {
      transform: rotate(180deg);
    }
  }
}

.value {
  padding-left: 2px;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
}

.icon {
  display: flex;
  padding-right: 2px;
  color: var(--color-light-100);
}

.content {
  overflow: hidden;
  display: flex;

  width: var(--radix-select-trigger-width);
  min-width: 20px;
  max-height: var(--radix-select-content-available-height);

  //padding: 0 6px;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
}

.item {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 25px;
  padding: 0 8px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-dark-700);
  }

  &[data-highlighted] {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }
}
