.linkBack {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 6px;
  align-items: center;
  align-self: flex-start;

  margin-bottom: 36px;

  color: var(--color-light-100);
  text-decoration: none;

  transition: all 0.2s;

  &:hover {
    color: var(--color-accent-500);

    svg {
      fill: var(--color-accent-500);
    }
  }
}
