//.wrapper {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//
//  width: 100%;
//  max-width: 1006px;
//  height: 100%;
//  margin: 0 auto;
//
//  // width: 70%;
//}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 7px;
}

.controlPanel {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.tabs {
  margin-bottom: 24px;
}

.paginationWrapper {
  display: flex;
  width: 100%;
  margin-top: 24px;
}
