.item {
  display: inline-flex;
  align-items: center;

  .state {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    background-color: transparent;
    border-radius: 100%;
    outline: none;

    &:hover {
      background-color: var(--color-dark-500);
    }

    &:active {
      background-color: var(--color-accent-900);
    }

    &:focus {
      background-color: var(--color-dark-700);
    }
  }

  &.disabled {
    cursor: auto;
    color: var(--color-light-900);
  }

  .indicator {
    position: relative;
    z-index: 10;

    width: 8px;
    height: 8px;

    background-color: var(--color-accent-500);
    border-radius: 50%;
  }

  .radio {
    all: unset;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
  }
}

.frame {
  position: absolute;
  z-index: 5;
  inset: 0;

  border: 2px solid var(--color-accent-500);
  border-radius: 50%;
}

.item:hover .state {
  background-color: var(--color-dark-500);
}

.item:active .state {
  background-color: var(--color-accent-900);
}
